---
import { heroSlider } from '@/data/site-data'
import { cn } from '@/lib/utils'

const { className }: { className?: string } = Astro.props
---

<section data-slider class={cn('overflow-x-hidden w-full whitespace-nowrap', className)}>
  <div data-slider-content class='inline-block whitespace-nowrap'>
    {
      heroSlider.map((slide) => {
        const { imgsrc, aspect, box } = slide

        return (
          <div class={`relative inline-block aspect-${aspect} h-96 cursor-default select-none px-4`}>
            <img class='size-full object-cover' src={imgsrc} alt='' />
            {box && (
              <div
                class={`font-secondary absolute ${box.positionY}-0 ${box.positionX}-0 text-shadow-2xs text-shadow-red-black p-6 text-2xl tracking-wider`}
              >
                {box.label}
              </div>
            )}
          </div>
        )
      })
    }
  </div>
</section>
